.letterSpacing{
    letter-spacing: 5px;
}
.imgPosition{
    position: relative ;
    top: 75px;
}
.cardBoxBodyBG{
    background-color: rgb(212, 211, 211);
}
.bgHeaderColor{
    background-color: rgba(9,9,9,255) !important   ;
}
/* .backgroundImg{
    background-image: url("../images/final/background.png");
    background-repeat: no-repeat ;   
} */

.sectionBackgrounImg{
    /* background-image: linear-gradient(rgba(233,233,235,255),rgba(173,181,191,255) ); */
    background-image: linear-gradient(rgba(173,181,191,255),rgba(233,233,235,255) );
}